:root {
  --primary: red;
  --bg: #010101;
}
* {
  /* border: 1px solid black; */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  font-family: "poppins", sans-serif;
  /* border: 2px #c40808 solid; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  border-bottom: 0.1rem solid grey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: red;
  background-color: black;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: white;
}

.navbar .navbar-nav a {
  color: #010101;
  margin: 0 1rem;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar .navbar-nav a:hover {
  color: red;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid red;
  transform: scaleX(0);
  transition: 0.2s ease-in;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.75);
}

.navbar .navbar-extra {
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: red;
}

#hamburger-menu {
  display: none;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100;
    background-color: grey;
    width: 30rem;
  }
}

/* mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  #hamburger-menu {
    display: inline-block;
  }
}
